@import url(https://fonts.cdnfonts.com/css/century-gothic);
*{
  overflow-x: hidden;
}
.herosection {
  background-color: #cbd2d9;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 90vw;
 
}

.herocontent {
  width: 45%;
  height: 100%;
  left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  width: 550px;
  
}

.herocontent h1 {
  /*font-size: 3rem;*/
  font-size: 70px;
}

.herocontent p {
  font-size: medium;
  margin-top: 50px;
  width: 33vw;
  
}

.portfoliobutton {
  color: white;
  background: #eb4a58;
  border-color: #eb4a58;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
.heroimage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 45%;
}

/*-----------------------------------------------------------
features section*/
